
.app {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
#container {
  width: 549px;
  height: 549px;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  gap: 1px;
  background: black;
}
.cordx {
  background: white;
  width: 10px;
  height: 10px;
}
.cordy {
  background: black;
  display: flex;
  gap: 1px;
}
.check {
  background: black;
}

.controler {
  display: flex;
  flex-direction: column;
  align-items: center;
}
