
.app {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
#container {
  width: 549px;
  height: 549px;
  border: 5px solid black;
  display: flex;
  flex-direction: column;
  gap: 1px;
  background: white;
  position: relative;
}
.cordx {
  background: white;
  width: 10px;
  height: 10px;
}
.cordy {
  background: black;
  display: flex;
  gap: 1px;
}

.SnakePart {
  position: absolute;
  width: 11px;
  height: 11px;
  background: black;
}

.controler {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.LostWindow {
  background: red;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.LostWindow h1 {
  color: white;
  font-size: 80px;
}

